/* declaring global variables --variable-name: value;
calling variable use var(variable-name) */
:root {
    --primary-color: lightgreen;
    --secondary-color: rgb(75, 75, 245);
    --text-color1: rgb(49, 49, 49);
    --text-color2: white;
    --logo-width: 100px;
    --menu-button-width: 50px;
    --software-image-large-width: 600px;
    --rounded-corners: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* h1 font or maybe other headings (h2) also */
h1 {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    /* color: black; */
    color: var(--text-color1);
    border-bottom: 2px solid white;
    background-color: white; /* just so can see when developing */
    padding: 10px;
    text-align: center;
    /* max-width: 425px; */
    width: 100%;
    justify-self: center;
}

.navigation button {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    /* color: black; */
    color: var(--text-color2);
    /* color: var(--text-color1); */
    padding: 10px;
    background-color: var(--secondary-color);
}

h2 {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    /* color: black; */
    color: var(--text-color2);
    /* color: var(--text-color1); */
    padding: 10px; 
    text-align: center;
    background-color: var(--secondary-color);
    /* border-top-left-radius: var(--rounded-corners); */
    /* border-top-right-radius: var(--rounded-corners); */
}

/* normal paragraph font */
p, li, #credits, figcaption {
    font-family: "Source Sans 3", serif; /* This font was a custom made font. */
    font-weight: 350;
    font-style: normal;
    color: black;
    /* color: var(--text-color1); */
    padding: 10px;
}

nav {
    background-color: var(--primary-color);
}

header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--primary-color);
}

/* For hamburger menu */
#menu {
    display: block;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    width: var(--menu-button-width);

    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

#menu::before {
    content: "=";  /* U+2630 or \u2630 */
}

.navigation {
    list-style-type: none;
    margin: 0 auto;
}

.navigation li {
    display: none; /* To not display list before click "hamburger" button */
}

.navigation li button {
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    /* width: 20px;
    height: 20px; */
}

.show li { /* JavaScript will make the show class */
    display: block;
}

#menu.show::before {
    content: "X";
}

.logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: var(--logo-width);
    height: auto;
    padding: 10px;
    background-color: var(--primary-color);
}

.navigation button {
    display: block;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    background-color: var(--primary-color);
    color: black;
}

.navigation button:hover {
    /* different background color (and text color) or border (different colored) */
    background-color: var(--secondary-color);
    border: solid 1px white;
}

.wayfinder::before {
    content: "* ";
}

.top-title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
}
.top-heading, .top-title p {
    background-color: var(--primary-color);
    color: var(--text-color1);
    text-align: left;
}

.form {
    /* display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px; */
    display: flex;
    flex-direction: column;
    /* background-color: lightgray; */
    padding: 10px;
    /* border: 1px solid var(--text-color1); */
}

label, form p, button {
    padding-top: 1rem;
    font-family: "Source Sans 3", serif; /* This font was a custom made font. */
    font-weight: 350;
    font-style: normal;
    color: black;
    /* color: var(--text-color1); */
    padding: 10px;
}

.top-label {
    padding-bottom: 0.25rem;
}

#form-heading {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
#left-column {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#membership-heading {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.radio {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 40px 1fr;
    align-items: center;
    /* justify-items: center; */
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}
#np-label {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: left;
    /* text-align: center; */
    align-self: center;
}

#np {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: right;
}
#bronze-label {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: left;
}

#bronze {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: right;
}
#silver-label {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: left;
}

#silver {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    justify-self: right;
}
#gold-label {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    justify-self: left;
}

#gold {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    justify-self: right;
}
/* .radio label styles for card */
.radio label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 40px 10px;
    border-radius: var(--rounded-corners);
    border: 1px solid var(--text-color1);
    width: 100%;
    justify-self: center;
    /* justify-content: space-around; */
    text-align: center;
    font-size: 1.5rem;
    /* TODO: How put some (vertical) space btwn words and button */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: changeColor 1s linear; /* spin animation with duration and continuous */
}
.learn-more {
    background-color: var(--secondary-color);
    color: var(--text-color2);
    border: 1px solid var(--text-color2);
    border-radius: var(--rounded-corners);
    padding: 5px;
    width: 33%;
    align-self: center;
    font-size: 1.1rem;
}

/*.radio input {
    grid-row: 1 / 5;
    grid-template-columns: 1 / 2;
} */


.form input[type="date"],
.form input[type="text"], 
.form input[type="email"], 
.form input[type="tel"],
.form textarea {
    background-color: white;
    border: solid 1px gray;
    border-radius: 6px;
    padding: 1rem;
    color: gray;
    width: 100%;
    max-width: 400px;
}

.form input[type="radio"] {
    height: 33px;
    width: 33px;
}

.form input[type="submit"] {
    background-color: var(--secondary-color);
    color: var(--text-color2);
    border-radius: var(--rounded-corners);
    border: 1px solid var(--text-color2);
    /* border: none;
    border-radius: 6px; */
    padding: 1rem;
    width: 99%;
    max-width: 400px;
    margin: 1rem 1% 2rem 0;
    font-size: 1.1rem;
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}

.form input[type="submit"]:hover {
    background-color: var(--primary-color);
    color: var(--text-color1);
}

footer {
    background-color: var(--primary-color);
    max-width: 100%;
    /* automatically center on the screen horizontally */
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#address-contact {
    text-align: left;
}
.sociallinks {
    /* background-color: var(--accent1-color); */
    /* height: 50px; */
    /* grid-column: 3 / 4; */
    display: flex;
    /* column-gap: 10px; */
    justify-content: end;
    align-self: center;
}
.sociallinks a {
    text-decoration: none; /* removes default style of underlines under hyperlinks */
    width: 40px;
    justify-self: end;
    align-content: center;
}
.sociallinks a img {
    width: 100%;
    height: auto;
    justify-content: space-around;
}
.project-info {
    text-align: left;
}

@media screen and (min-width: 600px) {

    #menu {
        display: none;
    }

    header {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr 6fr 2fr;
        background-color: var(--primary-color);
    }

    /* my pic has class of "logo", and my name is p element */
    .logo {
        width: 100px;
        height: auto;
        background-color: var(--primary-color);
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        align-self: center;
    }

    .top-title {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;
    }

    .top-heading, .top-title p {
        background-color: var(--primary-color);
        color: var(--text-color1);
        text-align: left;
    }

    nav {
        grid-row: 1 / 2;
        grid-column: 4 / 5;
        background-color: var(--primary-color);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .navigation {
        /* display: flex;
        justify-content: space-evenly; */
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr); /* TODO: might have to add one more column if have a link 5 */
    }

    .link1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .link2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .link3 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .link4 {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    /* .link5 {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
    } */
    
    .navigation li {
        display: block; /* changes with small view */
        flex: 1 1 100%; /*100% makes each item same size*/
        /*text-align: center;*/
    }
    
    .navigation li button {
        display: block;
        padding: 1rem;
        text-decoration: none;
        text-align: center;
        background-color: var(--primary-color);
        color: black;
    }
    
    .navigation li button:hover {
        /* different background color (and text color) or border (different colored) */
        background-color: var(--secondary-color);
    }

    main {
        height: auto;
    }
   
    .form {
        display: grid;
        grid-template-rows: 50px 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        /* display: flex;
        flex-direction: column;
        background-color: lightgray;
        padding: 10px; */
    }
    
    label, form p, button {
        padding-top: 1rem;
        font-family: "Source Sans 3", serif; /* This font was a custom made font. */
        font-weight: 350;
        font-style: normal;
        color: black;
        /* color: var(--text-color1); */
        padding: 10px;
    }
    
    .top-label {
        padding-bottom: 0.25rem;
    }
    
    #form-heading {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    #left-column {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    #membership-heading {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .radio {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 40px 1fr;
        align-items: center;
        /* justify-items: center; */
        column-gap: 10px;
        row-gap: 10px;
        padding: 10px;
    }

    #np-label {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: left;
        /* text-align: center; */
        align-self: center;
    }
    
    #np {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        justify-self: right;
    }

    #bronze-label {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        justify-self: left;
    }
    
    #bronze {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        justify-self: right;
    }

    #silver-label {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        justify-self: left;
    }
    
    #silver {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        justify-self: right;
    }

    #gold-label {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        justify-self: left;
    }
    
    #gold {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        justify-self: right;
    }

    /* .radio label styles for card */
    .radio label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--primary-color);
        padding: 40px 10px;
        border-radius: var(--rounded-corners);
        border: 1px solid var(--text-color1);
        width: 100%;
        justify-self: center;
        /* justify-content: space-around; */
        text-align: center;
        font-size: 1.5rem;
        /* TODO: How put some (vertical) space btwn words and button */
        /* animation: name duration timing-function delay iteration-count direction fill-mode; */
        animation: changeColor 1s linear; /* spin animation with duration and continuous */
    }

    .learn-more {
        background-color: var(--secondary-color);
        color: var(--text-color2);
        border: 1px solid var(--text-color2);
        border-radius: var(--rounded-corners);
        padding: 5px;
        width: 33%;
        align-self: center;
        font-size: 1.1rem;
    }
    
    /*.radio input {
        grid-row: 1 / 5;
        grid-template-columns: 1 / 2;
    } */
    
  
    .form input[type="date"],
    .form input[type="text"], 
    .form input[type="email"], 
    .form input[type="tel"],
    .form textarea {
        background-color: white;
        border: solid 1px gray;
        border-radius: 6px;
        padding: 1rem;
        color: gray;
        width: 100%;
        max-width: 400px;
    }
    
    .form input[type="radio"] {
        height: 33px;
        width: 33px;
    }
    
    .form input[type="submit"] {
        background-color: var(--secondary-color);
        color: var(--text-color2);
        border-radius: var(--rounded-corners);
        border: 1px solid var(--text-color2);
        /* border: none;
        border-radius: 6px; */
        padding: 1rem;
        width: 99%;
        max-width: 400px;
        margin: 1rem 1% 2rem 0;
        font-size: 1.1rem;
    }
    
    .form input[type="submit"]:hover {
        background-color: var(--primary-color);
        color: var(--text-color1);
    }

    footer {
        background-color: var(--primary-color);
        max-width: 100%;
        /* automatically center on the screen horizontally */
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #address-contact {
        text-align: left;
    }

    .sociallinks {
        /* background-color: var(--accent1-color); */
        /* height: 50px; */
        /* grid-column: 3 / 4; */
        display: flex;
        /* column-gap: 10px; */
        justify-content: end;
    }

    .sociallinks a {
        text-decoration: none; /* removes default style of underlines under hyperlinks */
        width: 40px;
        justify-self: end;
        align-content: center;
    }

    .sociallinks a img {
        width: 100%;
        height: auto;
        justify-content: space-around;
    }

    .project-info {
        text-align: left;
    }

    /* For animation of membership level cards */
    /* @keyframes needs to be at end of CSS to prevent all rules after it to not be executed. */
    @keyframes changeColor {
    0% {
    background-color: var(--secondary-color);
    color: var(--text-color2);
    }
    100% {
      background-color: var(--primary-color);
      color: var(--text-color1);
    }
    }
}