/* declaring global variables --variable-name: value;
calling variable use var(variable-name) */
:root {
    --primary-color: lightgreen;
    --secondary-color: rgb(75, 75, 245);
    --text-color1: rgb(49, 49, 49);
    --text-color2: white;
    --logo-width: 100px;
    --menu-button-width: 50px;
    --software-image-large-width: 600px;
    --rounded-corners: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* h1 font or maybe other headings (h2) also */
h1 {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    /* color: black; */
    color: var(--text-color1);
    border-bottom: 2px solid white;
    background-color: white; /* just so can see when developing */
    padding: 10px;
    text-align: left;
    /* max-width: 425px; */
    width: 100%;
    justify-self: center;
}

.navigation button {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    /* color: black; */
    color: var(--text-color2);
    /* color: var(--text-color1); */
    padding: 10px;
    background-color: var(--secondary-color);
}

h2 {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    /* color: black; */
    color: var(--text-color2);
    /* color: var(--text-color1); */
    padding: 10px; 
    text-align: center;
    background-color: var(--secondary-color);
    /* border-top-left-radius: var(--rounded-corners); */
    /* border-top-right-radius: var(--rounded-corners); */
}

/* normal paragraph font */
p, li, .link4, #video{
    font-family: "Source Sans 3", serif; /* This font was a custom made font. */
    font-weight: 350;
    font-style: normal;
    color: black;
    /* color: var(--text-color1); */
    padding: 10px;
}

nav {
    background-color: var(--primary-color);
}

header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--primary-color);
}

/* For hamburger menu */
#menu {
    display: block;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    width: var(--menu-button-width);
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

#menu::before {
    content: "=";  /* U+2630 or \u2630 */
}

.navigation {
    list-style-type: none;
    margin: 0 auto;
}

.navigation li {
    display: none; /* To not display list before click "hamburger" button */
}

.navigation li button {
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    /* width: 20px;
    height: 20px; */
}

.show li { /* JavaScript will make the show class */
    display: block;
}

#menu.show::before {
    content: "X";
}

.logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: var(--logo-width);
    height: auto;
    padding: 10px;
    background-color: var(--primary-color);
}

.navigation button {
    display: block;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    background-color: var(--primary-color);
    color: black;
}

.navigation button:hover {
    /* different background color (and text color) or border (different colored) */
    background-color: var(--secondary-color);
    border: solid 1px white;
}

.wayfinder::before {
    content: "* ";
}

.top-title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
}
.top-heading {
    background-color: var(--primary-color);
    color: var(--text-color1);
    text-align: left;
}

.forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-weather {
    background-color: beige;
    border: 1px solid var(--text-color1);
    padding: 10px;
}

footer {
    background-color: var(--primary-color);
    max-width: 100%;
    /* automatically center on the screen horizontally */
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sociallinks {
    /* background-color: var(--accent1-color); */
    /* height: 50px; */
    /* grid-column: 3 / 4; */
    display: flex;
    /* column-gap: 10px; */
    justify-content: end;
    align-self: flex-start;
    padding: 7px;
}
.sociallinks a {
    text-decoration: none; /* removes default style of underlines under hyperlinks */
    width: 40px;
    justify-self: end;
    align-content: center;
    padding: 2px;
}
.sociallinks a img {
    width: 100%;
    height: auto;
    justify-content: space-around;
}
.project-info {
    /* display: flex;
    flex-direction: column; without flex has less space between lines which is good*/

    text-align: left;
}

.link4, #video {
    text-align: left;
    padding-left: 7px;
}